div.row
    div.col-md-6.col-md-offset-1
        h3
            block title
            
div.row
    div.col-md-5.col-md-offset-1
        block content
        br
        div.text-right
            h6
                small
                    block date
                    
    div.col-md-3.col-md-offset-3
        div.row.text-right
            h4
                small
                    block quote
        div.row.text-right
            block link
