extends ../templates/experience.jade

block title
    |Software Engineer Intern at Perceptive Software

block content
    |Assisted the Healthcare Solutions team in optimiszing Perceptive Photo Capture. Also developed skills in working with Agile Software Development, as well as developed skills working with a team.

block date
    |June 2013 - August 2013
