extends ../templates/experience.jade

block title
    |Software Engineer Intern at Reflective Group

block content
    |Creating PHP classes for API interactions to help build Reflective Group’s Internal Library. Assisted in development of Cloudshine, a back office solution for small construction companies.

block date
    |January 2013 - May 2013

block quote
    |"As an intern at Reflective Group, Marshall worked on several projects both independently and in a team. He performed well in both settings."
    
block link
    a(href="https://www.linkedin.com/in/MarshallSumwalt#recommendations") See More
