extends ../templates/experience.jade

block title
    |Software Engineer Intern at Reflective Group

block content
    |Creating PHP classes for API interactions to help build Reflective Group’s Internal Library. Assisted in development of Cloudshine, a back office solution for small construction companies.

block date
    |January 2013 - May 2013
