extends ../templates/experience.jade

block title
    |Software Engineer Intern at Reflective Group

block content
    |Developed server and client-side code for Collision Resources Inc, a back office system for Auto Shops.

block date
    |August 2013 - December 2013
