extends templates/master.jade

block body
    div.container-fluid
        div.row
            div.col-md-8.col-md-offset-2
                div.row.text-center
                    h1 
                        |Hello and Welcome!
                div.row
                    h3
                        |I'm Marshall, a software developer with a degree in Computer Science.
                        br
                        |Feel free to look around a learn a little bit about me.
                div.row.text-center
                    div.col-md-4
                        a(href="https://www.github.com/pkbigmarsh")
                            |github
                    div.col-md-4
                        a(href="https://www.linkedin.com/in/MarshallSumwalt")
                            |linkedin
                    div.col-md-4
                        a(href="resources/Sumwalt, Marshall.pdf")
                            |Resume PDF
                
                br
                br
                
                include experiences/all.jade
                
block scripts
